.grpexpenses{
    width: 50%;
    height: 90vh;
    border: 1px solid red;
}
.grpmembers{
    width: 30%;
    height: 90vh;
    border: 1px solid red;
}
.grpmembers table{
    color: white;
}
.grpexpenses table{
    color: white;
}