.grpexpenses{
    width: 50%;
    height: 100%;
    /* border: 1px solid red; */
    border-left: 1px solid white;
    border-right: 1px solid white;
    overflow-y: auto;
}
.grpmembers{
    width: 30%;
    height: 100%;
    overflow-y: auto;
    /* border: 1px solid red; */
}
.grpmembers table{
    color: white;
}
.grpexpenses table{
    color: white;
}